
process {

    /* SETUP */

    debug = { params.DEBUG }

    errorStrategy  = 'finish'
    
    beforeScript = {

        "mkdir -p TASK_TMP" }

    afterScript = {

        // archive task files

        def outputDir = workflow.outputDir

        def parentDir = workflow.outputDir.parent

        def logDir = task.executor.equals('awsbatch')
            ? parentDir
            : params.logDir


        def taskDir = "$logDir/tasks/${task.process.replace(':','.')}/$task.tag"

        new File(taskDir).mkdirs()

        """     

        for LOG in .command*; do

            TASKLOG="${taskDir}/${task.tag}.\${LOG##*.}"

            echo "OUTPUT_DIR: $outputDir"
            echo "PARENT_DIR: $parentDir"

            echo "LOG_DIR:    $logDir"

            echo "TASK_LOG:   \$TASKLOG"
            
            echo ""
            
            if [[ "${task.executor}" == "awsbatch" ]]; then

                echo "TBC: CLOUD LOGS"

                nxf_s3_download \$LOG s3:/\$TASKLOG

            else
                
                cp -a \$LOG \$TASKLOG

            fi

        done

        """.stripIndent() }

    }
