
process {

    /* SETUP */

    debug = { params.DEBUG }

    errorStrategy  = 'finish'
    
    beforeScript = {

        "mkdir -p TASK_TMP" }

    afterScript = {

        // archive task files

        def runDir = workflow.workDir.parent

        def logDir = params.logDir

        def taskDir = "$runDir/$logDir/tasks/${task.process.replace(':','.')}/$task.tag"

        new File(taskDir).mkdirs()

        """     

        for LOG in .command*; do

            TASKLOG="${taskDir}/${task.tag}.\${LOG##*.}"
            
            if [[ "${task.executor}" == "awsbatch" ]]; then

                nxf_s3_download \$LOG s3:/\$TASKLOG

            else
                
                cp -a \$LOG \$TASKLOG

            fi

        done

        """.stripIndent() }

    }
