
params { 

    profileDir = './profiles'

    profileLabels = ['local','login','bigmem','awsbatch','googlebatch']
    
    }

includeConfig "$params.profileDir/basic.config"

includeConfig "$params.profileDir/local.config"

includeConfig "$params.profileDir/login.config"

includeConfig "$params.profileDir/awsbatch.config"

includeConfig "$params.profileDir/googlebatch.config"
