
process {

    withName: 'Data:Command1Software1:.*' {
    
        container = {
            if (!task.ext.version || task.ext.version.equals('X.X')){
                'community.wave.seqera.io/library/seqkit_awscli:802fc04618c43e93'
                }
            }
    
        }

    withName: 'Paths:Command2Software2:.*' {
    
        container = {
            if (!task.ext.version || task.ext.version.equals('X.X')){
                'community.wave.seqera.io/library/seqkit_awscli:802fc04618c43e93'
                }
            }
    
        }

    withName: 'Modify:SeqSeqkit:.*' {
    
        container = {
            if (!task.ext.version || task.ext.version.equals('X.X')){
                "python:3.11.15-trixie" 
                }
            }
    
        }

    ////LEAF_CONFIG////

    }
