
process {

    withName: 'Data:Command1Software1:.*' {
    
        publishDir = [ 
            enabled    : true,
            mode       : 'copy',
            overwrite  : true,
            path       : { workflow.outputDir },
            saveAs     : { path -> 
                return [
                    'supplementary', CoreMeta.name, 'SOFTWARE1', 'COMMAND1', CoreMeta.ID, CoreMeta.TAG, 
                    new File(path).getName(),
                    ].join('/') }
            ]
    
        }

    withName: 'Paths:Command2Software2:.*' {
    
        publishDir = [ 
            enabled    : false,
            mode       : 'copy',
            overwrite  : true,
            path       : { workflow.outputDir },
            saveAs     : { path -> 
                return [
                    'supplementary', CoreMeta.name, 'SOFTWARE2', 'COMMAND2', CoreMeta.ID, CoreMeta.TAG, 
                    new File(path).getName(),
                    ].join('/') }
            ]
    
        }

    withName: 'Modify:SeqSeqkit:.*' {
    
        publishDir = [ 
            enabled    : false,
            mode       : 'copy',
            overwrite  : true,
            path       : { workflow.outputDir },
            saveAs     : { path -> 
                return [
                    'supplementary', CoreMeta.name, 'SEQKIT', 'SEQ', CoreMeta.ID, CoreMeta.TAG, 
                    new File(path).getName(),
                    ].join('/') }
            ]
    
        }

    ////LEAF_CONFIG////

    }
