
process {

    withName: 'Data:Command1Software1:.*' {
    
        ext.executable = {
            if (task.ext.version.equals('X.X')){
                "####EXECUTABLE####" 
                }
            }
    
        }

    withName: 'Paths:Command2Software2:.*' {
    
        ext.executable = {
            if (task.ext.version.equals('X.X')){
                "####EXECUTABLE####" 
                }
            }
    
        }

    withName: 'Modify:SeqSeqkit:.*' {
    
        ext.executable = {
            if (task.ext.version.equals('X.X')){
                "####EXECUTABLE####" 
                }
            }
    
        }

    ////LEAF_CONFIG////

    }
