
process {

    withName: 'Data:Command1Software1:.*' {
    
        container = {
            if (!task.ext.version || task.ext.version.equals('X.X')){

                }
            }
    
        }

    withName: 'Paths:Command2Software2:.*' {
    
        container = {
            if (!task.ext.version || task.ext.version.equals('X.X')){

                }
            }
    
        }

    ////LEAF_CONFIG////

    }
