
profiles {

        aws_batch {

                conda.enabled = true
                conda.useMamba = true

                docker.enabled         = true
                docker.userEmulation   = true 

                aws.region = "eu-north-1"
                aws.profile = "~/.aws/credentials"
                aws.accessKey = secrets.AWS_ACCESSKEY
                aws.secretKey = secrets.AWS_SECRETKEY
             // aws.batch.cliPath = ''

             // fusion.enabled = true
             // fusion.exportStorageCredentials = true
             
                wave.enabled   = true

                workDir = "s3://test-547154048962-eu-north-1/work/"

                }

        }

process {

        withLabel: AWS_BATCH {

                resourceLimits.cpus   = 8
                resourceLimits.memory = 8.GB

                cpus           = { 2    * task.attempt }
                memory         = { 1.GB * task.attempt }
                
                executor = 'awsbatch'
                queue    = 'EC2_NF_DEFAULT_10CPU_FREE'

                }

        }