
profiles {

        googlebatch {
                
                google.project  = "cloudtest-508707"
                google.location = "europe-west2"

                google.batch.serviceAccountEmail = "seqera-serviceaccount@cloudtest-508707.iam.gserviceaccount.com"

             // fusion.enabled = true
             // fusion.exportStorageCredentials = true
             
             // wave.enabled   = true

                }

        }

process {

        withLabel: GOOGLEBATCH {

                resourceLimits.cpus   = 8
                resourceLimits.memory = 8.GB

                cpus           = { 2    * task.attempt }
                memory         = { 1.GB * task.attempt }
                
                executor    = 'google-batch'
                machineType = 'e2-standard-2'

                }

        }
